<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="position-relative">
        <figure class="overflow-hidden mb-0 d-flex justify-content-center">
          <img src="https://via.placeholder.com/1148x272" class="rounded-top" alt="profile cover">
        </figure>
        <div class="d-flex justify-content-between align-items-center position-absolute top-90 w-100 px-2 px-md-4 mt-n4">
          <div>
            <img class="wd-70 rounded-circle" src="https://via.placeholder.com/100x100" alt="profile">
            <span class="h4 ms-3 text-dark">{{user?.responsable.nom}} {{user?.responsable.prenom}}</span>
          </div>
          <div class="d-none d-md-block">
            <button class="btn btn-primary btn-icon-text">
              <i class="feather icon-edit btn-icon-prepend"></i> Edit profile
            </button>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
<div class="row profile-body">
  <!-- left wrapper start -->
  <div class="d-md-block col-md-12 col-xl-12 left-wrapper">
    <div class="card rounded">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mx-3">
          <h6 class="card-title mb-0">Poste</h6>
          <p>{{user?.responsable.poste}}</p>
        </div>
        <div class="mt-3 d-flex align-items-center justify-content-between mx-3">
          <label class="tx-11 fw-bolder my-0 text-uppercase my-0 m-3">Nom:</label>
          <p class="text-muted m-0 p-0">{{user?.responsable.nom}}</p>
        </div>
        <div class="mt-3 d-flex align-items-center justify-content-between mx-3">
          <label class="tx-11 fw-bolder my-0 text-uppercase">Prenom : </label>
          <p class="text-muted m-0 p-0"> {{ user?.responsable.prenom }} </p>
        </div>
        <div class="mt-3 d-flex social-links">
          <a href="" (click)="false" class="btn btn-icon border btn-xs me-2">
            <i class="feather icon-github"></i>
          </a>
          <a href="" (click)="false" class="btn btn-icon border btn-xs me-2">
            <i class="feather icon-twitter"></i>
          </a>
          <a href="" (click)="false" class="btn btn-icon border btn-xs me-2">
            <i class="feather icon-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- left wrapper end -->
  
</div>