<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/intern">Intern</a></li>
    <li class="breadcrumb-item"><a routerLink="/intern/list">list</a></li>
    <li class="breadcrumb-item active" aria-current="page">10</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid d-flex justify-content-between">
          <div class="col-lg-6 ps-0">
            <a routerLink="." class="nobleui-logo d-block mt-3">Trainee number :
              <span>{{detailIntern.stagiaire.matriculeStagiaire}}</span></a>
            <p class="mt-1 mb-1"><b>{{detailIntern.stagiaire.nom}} {{detailIntern.stagiaire.prenom}}</b></p>
            <p>{{detailIntern.stagiaire.statut}},<br> {{detailIntern.projet.length}} Projects,<br><a
                href={{detailIntern.stagiaire.linkedin}} target="_blank">{{detailIntern.stagiaire.linkedin}}</a></p>
          </div>
          <div class="col-lg-3 ps-0">
            <h6 class=" text-end mt-4 mb-2">Start of the internship : <b class="text-uppercase">
                {{detailIntern.stagiaire.debutStage | date}}</b></h6>
            <h6 class=" text-end mb-5 pb-4">End of the internship : <b class="text-uppercase">
                {{detailIntern.stagiaire.finStage | date}}</b></h6>
          </div>
        </div>
        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
          <div class="table-responsive w-100">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Project name</th>
                  <th class="">Taches</th>
                  <th class="">Project duration</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projet of detailIntern?.projet; let i = index" style=" cursor: pointer;">
                  <td class="col-lg-1">{{i + 1}}</td>
                  <td class="col-lg-3">{{projet.nom}}</td>
                  <td class="col-lg-7">
                    <div class=" d-flex flex-column">
                      <a  class="p-2" *ngFor=" let tache of tasks(projet.idProjet)" (click)="openVerticalCenteredModal(verticalCenteredModal, tache)">- {{tache.description}}
                        
                      </a>
                    </div>
                  </td>
                  <td class="col-lg-1">{{projet.dureeProjet}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container-fluid w-100">
          <button (click)="archivedIntern(detailIntern.stagiaire.idStagiaire)"
            class="btn btn-primary float-end mt-4 ms-2"><i data-feather="send" appFeatherIcon
              class="me-2 icon-md"></i>{{ detailIntern.stagiaire.statut=="ACTIF" ? "Archiver" : "Desarchiver"}}</button>
          <a routerLink="/intern/edit" [queryParams]="{ matriculeIntern: detailIntern.stagiaire.matriculeStagiaire}"
            class="btn btn-outline-primary float-end mt-4"><i data-feather="printer" appFeatherIcon
              class="me-2 icon-md"></i>Editer</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit task: {{task.description}}</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="taskForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="mb-3">
                    <label class="form-label">Task duration</label>
                    <input type="number" class="form-control"
                      placeholder="Enter project duration" formControlName="dureeTache">
                    <div class="text-danger"
                      *ngIf="taskForm.get('dureeTache')?.invalid && (taskForm.get('dureeTache')?.dirty || submitted || taskForm.get('dureeTache')?.touched)">
                      Duration task is required.
                    </div>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                      formControlName="description"></textarea>
                    <div class="text-danger"
                      *ngIf="taskForm.get('description')?.invalid && (taskForm.get('description')?.dirty || submitted || taskForm.get('description')?.touched)">
                      Description is required.
                    </div>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteTask()" (click)="modal.close('by: close button')">Delete</button>
    <button type="button" class="btn btn-primary" (click)="updateTask()" (click)="modal.close('by: save button')">Save changes</button>
  </div>
</ng-template>